{% extends "layout/base.html" %}
{% load static %}
{% block title %}Consultor{% endblock %}

{% block content %}
<!-- /Informações consultor -->
<aside class="w-100 p-5 text-white" style="background-color: #00095b;">
    <div class="d-flex flex-column justify-content-center align-items-center my-4">
        <h2>Olá, {{ consultor.nome }} {{ consultor.sobrenome }}!</h2>
        <p class="mb-0">Você está na <span class="fw-bold">área do consultor</span></p>
    </div>
</aside>
<!-- Informações consultor/ -->

<!-- /Filtros -->

<!-- Filtros/ -->

<!-- /Solicitações -->
<main class="row g-4 px-2 py-4 bg-light">
    {% if solicitacoes %}
    {% for solicitacao in solicitacoes %}
    <div class="col-xl-6">
        <article class="card border-0 rounded-4">
            <header class="card-header border-0 bg-white">
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="text-muted">Data de criação</h6>
                        <p>{{ solicitacao.data_criacao|date:"d/m/Y" }}</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-muted">Preço</h6>
                        <p>{{ solicitacao.preco }}</p>
                    </div>
                    <div class="col-md-5 d-flex flex-column align-items-end">
                        <h5>#{{ solicitacao.generate_custom_id }}</h5>
                        <span class="badge" style="background-color: #00095b;">
                            {{ solicitacao.get_status }}
                        </span>
                    </div>
                </div>
            </header>
            <main class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-fluid"
                            src="{% static 'img/carros' %}/{{ solicitacao.carro.modelo }}/{{ solicitacao.cor.nome }}.png"
                            alt="Imagem do {{ solicitacao.carro.modelo }} {{ solicitacao.cor.nome }}" width="100"
                            height="50">
                    </div>
                    <div class="col-md-4">
                        <h5>{{ solicitacao.carro.modelo }}</h5>
                    </div>
                    <div class="col-md-5 d-flex justify-content-end align-items-end">
                        <a class="btn btn-primary px-3 py-2"
                            href="{% url 'portal.consultor.solicitacao' solicitacao.id %}">
                            Ver detalhes
                        </a>
                    </div>
                </div>
            </main>
        </article>
    </div>
    {% endfor %}
    {% else %}
    <div class="col d-flex justify-content-center align-items-center">
        <h2>Nenhuma solicitação foi encontrada</h2>
    </div>
    {% endif %}
</main>
<!-- Solicitações/ -->

{% endblock %}