{% extends "layout/base.html" %}
{% load static %}
{% block title %}Consultor{% endblock %}

{% block content %}
<!-- /Informações consultor -->
<aside class="w-100 p-5 text-white" style="background-color: #00095b;">
    <div class="d-flex flex-column justify-content-center align-items-center my-4">
        <h2>Olá, {{ consultor.nome }} {{ consultor.sobrenome }}!</h2>
        <p class="mb-0">Você está na <span class="fw-bold">área do consultor</span></p>
    </div>
</aside>
<!-- Informações consultor/ -->

<!-- /Filtros -->
<div class="collapse" id="navbarToggleFiltrar">
    <div class="p-4">
        <nav class="nav nav-pills flex-column">
            <div class="type">
                <a class="nav-link">Data</a>
                <nav class="nav nav-pills flex-column">
                    <li class="list-group-item">
                        <input class="form-check-input ms-3 my-1 box_checkbox" type="radio" value=""
                            id="firstCheckbox">
                        <label class="form-check-label item_checkbox" for="firstCheckbox">Crescente</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input ms-3 my-1 box_checkbox" type="radio" value=""
                            id="secondCheckbox">
                        <label class="form-check-label item_checkbox" for="secondCheckbox">Decrescente</label>
                    </li>
                </nav>
            </div>

            <div class="type">
                <a class="nav-link">Status</a>
                <nav class="nav nav-pills flex-column">
                    <li class="list-group-item">
                        <input class="form-check-input ms-3 my-1 box_checkbox" type="checkbox" value=""
                            id="thirdCheckbox">
                        <label class="form-check-label item_checkbox" for="thirdCheckbox">Enviada</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input ms-3 my-1 box_checkbox" type="checkbox" value=""
                            id="fourthCheckbox">
                        <label class="form-check-label item_checkbox" for="fourthCheckbox">Em negociação</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input ms-3 my-1 box_checkbox" type="checkbox" value=""
                            id="fourthCheckbox">
                        <label class="form-check-label item_checkbox" for="fourthCheckbox">Em produção</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input ms-3 my-1 box_checkbox" type="checkbox" value=""
                            id="fourthCheckbox">
                        <label class="form-check-label item_checkbox" for="fourthCheckbox">Atendida</label>
                    </li>
                </nav>
            </div>
        </nav>
    </div>
</div>
<nav class="navbar navbar-light bg-white">
  <div class="container-fluid justify-content-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleFiltrar" 
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: #00095b;">Filtrar <i class="fa-solid fa-filter fs-6 mx-1" style="color: #00095b;"></i></span>
    </button>
  </div>
</nav>
<!-- Filtros/ -->

<!-- /Solicitações -->
<main class="row g-4 px-2 py-4 bg-light">
    {% if solicitacoes %}
    {% for solicitacao in solicitacoes %}
    <div class="col-xl-6">
        <article class="card border-0 rounded-4">
            <header class="card-header border-0 bg-white">
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="text-muted">Data de criação</h6>
                        <p>{{ solicitacao.data_criacao|date:"d/m/Y" }}</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-muted">Preço</h6>
                        <p>{{ solicitacao.preco }}</p>
                    </div>
                    <div class="col-md-5 d-flex flex-column align-items-end">
                        <h5>#{{ solicitacao.generate_custom_id }}</h5>
                        <span class="badge" style="background-color: #00095b;">
                            {{ solicitacao.get_status }}
                        </span>
                    </div>
                </div>
            </header>
            <main class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-fluid"
                            src="{% static 'img/carros' %}/{{ solicitacao.carro.modelo }}/{{ solicitacao.cor.nome }}.png"
                            alt="Imagem do {{ solicitacao.carro.modelo }} {{ solicitacao.cor.nome }}" width="100"
                            height="50">
                    </div>
                    <div class="col-md-4">
                        <h5>{{ solicitacao.carro.modelo }}</h5>
                    </div>
                    <div class="col-md-5 d-flex justify-content-end align-items-end">
                        <a class="btn btn-outline-primary px-3 py-2"
                            href="{% url 'portal.consultor.solicitacao' solicitacao.id %}">
                            Ver detalhes
                        </a>
                    </div>
                </div>
            </main>
        </article>
    </div>
    {% endfor %}
    {% else %}
    <div class="col d-flex justify-content-center align-items-center">
        <h2>Nenhuma solicitação foi encontrada</h2>
    </div>
    {% endif %}
</main>
<!-- Solicitações/ -->

{% endblock %}