<footer class="container-fluid py-4 p-x">
    <div class="row">
        <div class="col-md-2 my-2 d-flex justify-content-center align-item-center">
            <h1 class="display-4 text-center fw-bold">STRIX</h1>
        </div>
        <div class="col-md-4 my-2">
            <p>Empoderamos a liberdade sobre quatro rodas, abrindo caminhos para todos.</p>
            <p>A acessibilidade não é apenas uma opção, é a nossa direção. Juntos, estamos construindo um mundo onde
                todas as estradas nos pertencem.</p>
        </div>
        <div class="col-md-2 my-2">
            <h5 class="fw-bold mb-4">Sobre</h5>
            <h6>
                <a class="text-black text-decoration-none" href="#">Como funciona</a>
            </h6>
            <h6 class="my-4">
                <a class="text-black text-decoration-none" href="#">Parceria</a>
            </h6>
            <h6>
                <a class="text-black text-decoration-none" href="#">Relação empresarial</a>
            </h6>
        </div>
        <div class="col-md-2 my-2">
            <h5 class="fw-bold mb-4">Comunidade</h5>
            <h6>
                <a class="text-black text-decoration-none" href="#">Eventos</a>
            </h6>
            <h6 class="my-4">
                <a class="text-black text-decoration-none" href="#">Blog</a>
            </h6>
            <h6>
                <a class="text-black text-decoration-none" href="#">Podcast</a>
            </h6>
        </div>
        <div class="col-md-2 my-2">
            <h5 class="fw-bold mb-4">Mídias sociais</h5>
            <h6>
                <a class="text-black text-decoration-none" href="#">Discord</a>
            </h6>
            <h6 class="my-4">
                <a class="text-black text-decoration-none" href="https://www.instagram.com/fordbrasil/">Instagram</a>
            </h6>
            <h6>
                <a class="text-black text-decoration-none" href="https://twitter.com/Ford">Twitter</a>
            </h6>
        </div>
        <hr>
        <div class="col-md my-2 d-flex justify-content-center">
            <h6 class="fw-bold">
                <a class="text-black text-decoration-none" href="#">@2023 STRIX. Todos os direitos reservados</a>
            </h6>
        </div>
        <div class="col-md my-2 d-flex justify-content-center">
            <h6 class="fw-bold">
                <a class="text-black text-decoration-none" href="#">Política de privacidade</a>
            </h6>
        </div>
        <div class="col-md my-2 d-flex justify-content-center">
            <h6 class="fw-bold">
                <a class="text-black text-decoration-none" href="#">Termos e condições</a>
            </h6>
        </div>
    </div>
</footer>