{% extends "layout/base.html" %}
{% load static %}
{% block title %}Catálogo{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/detalhe.css' %}">
{% endblock %}

{% block content %}
<form method="get" action="{% url 'portal.checkout' %}">
    <input type="hidden" name="carro" value="{{ carro.id }}">

    <article class="d-none d-xl-block">
        <div style="background-color: #f8f4fc;height: 37px;">
            <a class="btn btn-primary px-3 py-2 mt-3 mb-5 ms-3" href="{% url 'portal.catalogo' %}">
                <i class="fa-solid fa-arrow-left me-2"></i>
                Voltar
            </a>
        </div>

        <div class="pagina">
            <div class="div__carro__detalhe">
                <div class="bg">
                    <img src="{% static 'img/carros' %}/{{ carro.modelo }}.png" class="carro"
                        alt="Imagem do {{ carro.modelo }}">
                </div>
            </div>

            <div class="div__info__carro">
                <h3 class="fw-bold mb-4">{{ carro.modelo }}</h3>
                <p>{{ carro.descricao }}</p>
                <div class="d-flex justify-content-between my-2">
                    <p>
                        <b style="color:rgb(173, 165, 165)">Motor</b>:
                        {{ carro.motor }}
                    </p>
                    <p>
                        <b style="color:rgb(173, 165, 165)">Potência:</b>
                        {{ carro.potencia }}
                    </p>
                </div>
                <div class="d-flex justify-content-between my-2">
                    <p>
                        <b style="color:rgb(173, 165, 165)">Transmissão:</b>
                        {{ carro.transmissao }}
                    </p>
                    <p>
                        <b style="color:rgb(173, 165, 165)">Outros itens:</b>
                        {{ personalizacoes|length }} opções PCD
                    </p>
                </div>
                <h4>Preço sob consulta</h4>
            </div>
        </div>
    </article>

    <article class="d-xl-none container-fluid bg-light">
        <a class="btn btn-primary px-3 py-2 my-3" href="{% url 'portal.catalogo' %}">
            <i class="fa-solid fa-arrow-left me-2"></i>
            Voltar
        </a>

        <img src="{% static 'img/carros' %}/{{ carro.modelo }}.png" class="w-100 img-fluid my-3" alt="Imagem do {{ carro.modelo }}">

        <section class="card border-0 rounded-4">
            <main class="card-body">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <h3 class="fw-bold">{{ carro.modelo }}</h3>
                    </div>
                    <div class="col-sm-12">
                        <p>{{ carro.descricao }}</p>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <b class="text-muted">Motor:</b> {{ carro.motor }}
                    </div>
                    <div class="col-sm-6 mb-2">
                        <b class="text-muted">Potência:</b> {{ carro.potencia }}
                    </div>
                    <div class="col-sm-6 mb-2">
                        <b class="text-muted">Transmissão:</b> {{ carro.transmissao }}
                    </div>
                    <div class="col-sm-6 mb-2">
                        <b class="text-muted">Outros:</b> {{ personalizacoes|length }}
                        opções PCD
                    </div>
                    <div class="col-sm-12 mt-2">
                        <h4>Preço sob consulta</h4>
                    </div>
                </div>
            </main>
        </section>

        <section class="w-100 py-3">
            <h4 class="text-muted fw-bold mx-5 pt-5 pb-2">Cores disponíveis</h4>
            {% for cor in cores %}
            <div class="form-check form-check-inline mx-2">
                <input type="radio" id="{{ cor.nome }}" class="d-none" {% if forloop.counter == 1 %}checked{% endif %}
                    name="cor" value="{{ cor.id }}">
                <label class="cor__input_radio__label rounded-circle" for="{{ cor.nome }}"
                    style="background-color: {{ cor.codigo }};" title="{{ cor.nome }}, {{ cor.codigo }}"></label>
            </div>
            {% endfor %}
        </section>
    </article>

    <main class="container-fluid bg-light">
        <h4 class="text-muted fw-bold mx-5 pt-5 pb-2">Personalizações Disponíveis</h4>

        <div class="row">
            {% for personalizacao in personalizacoes %}
            <div class="card border-0 mx-2 my-2 col-md-3 card_size">
                <div class="card-body">
                    <h6 class="card-title fw-bold text-center">{{ personalizacao.nome }}</h6>

                    <div class="div__imagem__detalhe my-1">
                        <img src="{% static 'img/customizacoes' %}/{{ personalizacao.nome }}.png" class="card-img-top"
                            alt="Imagem de {{ personalizacao.nome }}">
                    </div>

                    <p class="card-text">{{ personalizacao.descricao }}</p>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="checkbox" name="personalizacoes" id="{{ personalizacao.nome }}"
                            value="{{ personalizacao.id }}" class="personalizacoes d-none">
                        <label class="personalizacao__checkbox__label rounded-2" for="{{ personalizacao.nome }}">
                            <span id="unchecked-{{ personalizacao.nome }}">Adicionar</span>
                            <i class="fa-solid fa-check d-none" id="checked-{{ personalizacao.nome }}"></i>
                        </label>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-md-12 text-end">
                <button type="submit" class="btn btn-primary px-4 py-3 mx-3 my-2">
                    Continuar
                    <i class="fa-solid fa-arrow-right text-light"></i>
                </button>
            </div>
        </div>
    </main>
</form>
{% endblock %}

{% block scripts%}
<script>
    document
        .querySelectorAll('.personalizacoes')
        .forEach(personalizacao => personalizacao.addEventListener('change', e => {
            const id = e.target.id;
            if (e.target.checked) {
                document.getElementById(`checked-${e.target.id}`).classList.remove('d-none');
                document.getElementById(`unchecked-${e.target.id}`).classList.add('d-none');
            } else {
                document.getElementById(`unchecked-${e.target.id}`).classList.remove('d-none');
                document.getElementById(`checked-${e.target.id}`).classList.add('d-none');
            }
        }));
</script>
{% endblock %}