{% extends "layout/base.html" %}
{% load static %}
{% block title %}Início{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<article id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/Ford Menu.png' %}" class="d-block w-100" alt="Foto de duas Ford Rangers no campo"
                style="filter: brightness(50%);">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-md-12 my-5 text-start">
                        <h3>
                            Estamos construindo mais do que carros adaptados para pessoas com deficiência.
                            Estamos construindo pontes para a independência, estradas para a liberdade e possibilidades
                            sem
                            limites.
                        </h3>
                    </div>
                    <div class="col-md-12 my-5 text-end">
                        <h3>
                            Porque a mobilidade é um direito de todos, e nossa paixão é criar veículos que abrem
                            caminho para um mundo onde cada jornada é uma conquista extraordinária.
                        </h3>
                    </div>
                    <div class="col-md-12 my-5 text-start">
                        <a class="btn btn-light px-2 py-3" href="{% url 'portal.catalogo' %}">
                            Conhecer modelos
                            <i class="fa-solid fa-arrow-right ms-2 me-1" style="color: #00095b;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="carousel-caption d-none d-md-block carousel-caption-left">
                <h3>Estamos construindo mais do que carros adaptados para pessoas com deficiência. Estamos
                    construindo pontes para a independência, estradas para a liberdade e possibilidades sem limites.
                </h3>
            </div>
            <div class="carousel-caption d-none d-md-block carousel-caption-right">
                <h3 class="">Porque a mobilidade é um direito de todos, e nossa paixão é criar veículos que abrem
                    caminho
                    para um mundo onde cada jornada é uma conquista extraordinária.</h3>
            </div>
            <div class="carousel-caption d-none d-md-block carousel-caption-link">
                <a class="btn btn-light px-2 py-3" href="{% url 'portal.catalogo' %}">Conhecer modelos <i
                        class="fa-solid fa-arrow-right ms-2 me-1" style="color: #00095b;"></i></a>
            </div> -->
        </div>
    </div>
</article>

<main class="container-fluid">
    <div class="row bg-light">
        <div class="col-lg-3">
            <div class="card col mx-5 my-4 card_size">
                <div class="card-body">
                    <h3> Ranger </h3>
                    <p> Limited Edition </p>
                </div>
                <div class="card_img_size">
                    <img src="{% static 'img/carros/Ford Ranger.png' %}" class="card-img-top" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card col mx-5 my-4 card_size">
                <div class="card-body">
                    <h3> Bronco Sport </h3>
                    <p> </p>
                </div>
                <div class="card_img_size">
                    <img src="{% static 'img/carros/Ford Bronco Sport.png' %}" class="card-img-top" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card col mx-5 my-4 card_size">
                <div class="card-body ">
                    <h3> Territory </h3>
                    <p> </p>
                </div>
                <div class="card_img_territory">
                    <img src="{% static 'img/carros/Ford Territory.png' %}" class="card-img-top" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card col mx-5 my-4 card_size">
                <div class="card-body">
                    <h3> Mustang Mach1 </h3>
                    <p> Em breve </p>
                </div>
                <div class="card_img_mustang">
                    <img src="{% static 'img/carros/Ford Mustang.png' %}" class="card-img-top" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}