{% extends "layout/base.html" %}
{% load static %}
{% block title %}Início{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<article id="carouselExampleCaptions" class="carousel slide d-none d-xl-block">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/Ford Menu.png' %}" class="d-block w-100" alt="Foto de duas Ford Rangers no campo"
                style="filter: brightness(50%);">

            <div class="carousel-caption carousel-caption-left">
                <h3>Estamos construindo mais do que carros adaptados para <b>pessoas com deficiência</b>. Estamos
                    construindo pontes para a independência, estradas para a liberdade e possibilidades sem limites.
                </h3>
            </div>

            <div class="carousel-caption carousel-caption-right">
                <h3>Porque a <b>mobilidade</b> é um direito de todos, e nossa paixão é criar veículos que abrem
                    caminho
                    para um mundo onde cada jornada é uma conquista extraordinária.</h3>
            </div>

            <div class="carousel-caption carousel-caption-link">
                <a class="btn btn-light px-2 py-3" href="{% url 'portal.catalogo' %}">Conhecer modelos <i
                        class="fa-solid fa-arrow-right ms-2 me-1" style="color: #00095b;"></i></a>
            </div>
        </div>
    </div>
</article>

<section class="bg-white px-4 py-2 d-xl-none d-block">
    <h3 class="mx-3 my-5 text-start">
        Estamos construindo mais do que carros adaptados para <b>pessoas com deficiência</b>. Estamos construindo pontes para a
            independência, estradas para a liberdade e possibilidades sem limites.
    </h3>
    <h3 class="mx-3 mb-3 text-end">
        Porque a <b>mobilidade</b> é um direito de todos, e nossa paixão é criar veículos que abrem caminho para um mundo onde
        cada jornada é uma conquista extraordinária.
    </h3>
    <a class="btn btn-primary px-2 py-3 my-5" href="{% url 'portal.catalogo' %}">Conhecer modelos <i
            class="fa-solid fa-arrow-right ms-2 me-1"></i></a>
</section>

<main class="container-fluid">
    <div class="row bg-light">
        <div class="col-xl-3">
            <div class="card border-0 mx-2 my-4 card_size">
                <div class="card-body">
                    <h3> Maverick </h3>
                    <p> </p>
                </div>
                <div class="card_img_size">
                    <img src="{% static 'img/catalogo/Ford Maverick.png' %}" class="card-img-top w-100"
                        style="width: 400px; height: 230px" alt="Ford Maverick">
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card border-0 mx-2 my-4 card_size">
                <div class="card-body">
                    <h3> Bronco Sport </h3>
                    <p> </p>
                </div>
                <div class="card_img_size">
                    <img src="{% static 'img/catalogo/Ford Bronco Sport.png' %}" class="card-img-top w-100"
                        style="width: 400px; height: 220px" alt="Ford Bronco Sport">
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card border-0 mx-2 my-4 card_size">
                <div class="card-body ">
                    <h3> Territory </h3>
                    <p> </p>
                </div>
                <div class="card_img_size">
                    <img src="{% static 'img/catalogo/Ford Territory.png' %}" class="card-img-top w-100"
                        style="width: 400px; height: 220px" alt="Ford Territory">
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card border-0 mx-2 my-4 card_size">
                <div class="card-body">
                    <h3> Mustang Mach1 </h3>
                    <p> Em breve </p>
                </div>
                <div class="card_img_size">
                    <img src="{% static 'img/carros/Ford Mustang.png' %}" class="card-img-top w-100"
                        style="width: 400px; height: 240px" alt="Ford Mustang">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}