.card__img_size {
    width: 22rem !important;
    height: 12rem !important;
    background-position: fixed;
    background-repeat: no-repeat;
}

/* tamanho dos cards principais */
.card_style {
    width: 18rem;
    height: 23rem;
    padding: 1rem;
    margin: 1rem;
    border-style: hidden;
}

/* define a área que a imagem vai ocupar */
.div_img {
    width: 100%;
    height: 50%;
    padding: 1rem;
}

/* sidebar de opções */
.sidebar {
    width: 18%;
    height: 100%;
}

.catalogo {
    width: 82%;
    height: 100%;
    background-color: #F6F7F9;
}


/* item do checkbox: pickup, suv, 2-4 lugares, 2-5 lugares*/
.item_checkbox {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2%;
    text-align: justify;
    margin-bottom: 10px;
    color: #596780;
}

.text_modelo_carro {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -2%;
    text-align: justify;
    color: #596780;
}

/* tamanho da checkbox pra alinhar com o texto */
.box_checkbox {
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* tamanho do texto da categoria e capacidade */
.item_categoria {
    font-size: 12px;
    font-weight: 600;
    line-height: 15.12px;
    letter-spacing: -2%;
    text-align: justify;
    margin-bottom: 10px;
    color: #90A3BF;
}

/* div que engloba o Categoria e Capacidade*/
.type {
    width: 176px;
    height: 128px;
    top: 152px;
    left: 33px;
    gap: 28px;
}


.button_voltar {
    width: 120px;
    height: 45px;
    top: 37px;
    left: 100px;
    border-radius: 8px;
    padding: 0px, 20px, 0px, 20px;
    gap: 8px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.button_escolher {
    width: 100px;
    height: 42px;
    top: 308px;
    left: 168px;
}

.subtext_primeiro {
    font-size: 14px;
    font-weight: 600px;
    line-height: 21px;
    letter-spacing: -2%;
    text-align: justify;
    color: #90A3BF;
}

/* o margin-top é diferente no primeiro card porque o subtext é bem maior e não deu pra alinhar
    usei style="margin-top:0px" */
.subtext_segundo {
    font-size: 14px;
    font-weight: 600px;
    line-height: 21px;
    letter-spacing: -2%;
    margin-top: 10px;
    margin-right: 10px;
    color: #90A3BF;
}