.pagina {
    display: flex;
    width: 100%;
    background-color: #f8f4fc;


}

.div__carro__detalhe {


    width: 100%;
    height: 20rem;
    margin-top: 5%;
    z-index: 0;
    position: relative;
    background-color: #e8ecf4;


}

.carro {
    width: 600px;
}

.div__info__carro {
    display: flex;
    width: 30rem;
    margin-left: 50rem;
    margin-bottom: 10rem;
    height: 20rem;
    border: 4px;
    z-index: 1;
    position: absolute;
    border-radius: 20px;
    background-color: #FFFFFF;
    flex-direction: column;
    box-shadow: 1px;
}

.div__personalizacoes {

    display: flex;
    width: 100%;
    height: 25rem;
    background-color: #f8f4fc;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: space-around;
}

.texto__info {

    margin-top: 2.5rem;
    margin-left: 20px;
    font-size: 15px;

}

.titulo__info {

    margin-top: 1rem;
    margin-left: 20px;

}

.categorias__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

.div__imagem__detalhe {
    height: 250px !important;
    width: 250px !important;
}

.card_size {
    height: 550px !important;
    width: 320px !important;
}

.bg{
    background-image: url("BG Detalhes.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
}

.card-text {
    min-height: 32%;
}
