.card {
    width: 651px;
    height: 350px;
}


.bg{
    height: 900px;
    width:50vw;
    background-image: url("BG LoginRegistro.png");
    background-repeat: no-repeat;
    background-size: cover;
}







